body{
    font-family: Fira Code;
    background-color: rgba(106, 230, 220, 0.897);
}
header{font-size: 16pt;
       color: white;
       text-align: center;  }
section{background-color: white;
        width: 500px;
        margin: auto;
        border-radius: 10px;
        padding: 8px;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.315);}
footer{margin-top: 500px;
       text-align: center; }

h4{font-style: italic;}
input{margin: 8px;}
#foto{width: 250px;
      padding: 8px; }